<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <section class="vh-100">
  <div class="container-fluid h-custom">
    <div>
      <button class="btn btn-secondary">
        <a href="{% url 'admin_log_in' %}" style="text-decoration: None; color: black">Admin Login</a>
      </button>
    </div>

    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

        {% for message in messages %}
        <div class="alert alert-danger d-flex align-items-center" role="alert">
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
          <div>
              {{ message }}
          </div>
        </div>
        {% endfor %}

        <form action="" method="post">
          {% csrf_token %}
          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0"><h3>LOG IN</h3>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="text" name="user_name" class="form-control form-control-lg"
              placeholder="Enter a valid user name" required>
            <label class="form-label"></label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input type="password" name="user_password" class="form-control form-control-lg"
              placeholder="Enter password" required>
            <label class="form-label"></label>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">
              Login
            </button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="{% url 'sign_up' %}" class="link-danger">Register</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>

</section>
</body>
</html>